
html{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.formData{
    width: 400px;
    height: 350px;
    margin: 50px;
    display: block;
    justify-content:start;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color:lightblue;
    float: left;
}

form{
    margin: 20px;
}

.titulo{
    position: relative;
    left: 50px;
}

button{
    position:relative;
    left:200px;
}

.resultados{
    width: 400px;
    height: 350px;
    margin: 50px 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color:aquamarine;
    float:right;
}

.respuestas{
    margin: 20px;
}

p{
    font-family:'Times New Roman', Times, serif;
    font-size:x-large;
}