
html{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.formData{
    width: 400px;
    height: 500px;
    margin: 50px;
    display: block;
    justify-content:start;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color:lightblue;
    float: left;
}

form{
    margin: 20px;
}

input{
    width: 100%;
    border:none;
    border-bottom: 1px solid rgb(19, 107, 136);;
    outline:none;
    padding: 5px;
    color:black;
    background-color:lightblue;
}

input:focus{
    border-bottom: 1px solid rgb(2, 42, 56);;
}

input::placeholder{
    color: rgb(19, 107, 136);
}

.titulo{
    position: relative;
    left: 50px;
}

button{
    position:relative;
    left:200px;
}
button:hover{
    background-color:rgba(0, 255, 255, 0.671);
}

.resultados{
    width: 400px;
    height: 250px;
    margin: 50px 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color:aquamarine;
    float:right;
}

.respuestas{
    margin: 20px;
}

p{
    font-family:'Times New Roman', Times, serif;
    font-size:x-large;
}

label{
    font-family:'Times New Roman', Times, serif;
    font-size:large;
    color:darkslategray;
}